### 1. BreadType객체 (팩토리 메소드구현 + 속성 출력)

In [1]:

# 추상클래스 abc(abstract base class)라는 모듈을 임포트
from abc import ABCMeta, abstractmethod

# BreadType 클래스를 추상클래스로 생성, recipe 메소드 구현
class BreadType(metaclass=ABCMeta):
    @abstractmethod
    def recipe(self):
        pass
    
# BreadType 을  상속받는 클래스는 recipe 메소드를 구현해야만 객체생성    
class Cream(BreadType):
    def recipe(self):
        print('breadType: ','cream')
        print('recipe')
        print('flour: ', 100)
        print('water: ', 100)
        print('cream: ', 200)
        
class Sugar(BreadType):
    def recipe(self):
        print('breadType: ','sugar')
        print('recipe')
        print('flour: ', 100)
        print('water: ', 50)
        print('sugar: ', 200)
        
class Butter(BreadType):
    def recipe(self):
        print('breadType: ','butter')
        print('recipe')
        print('flour: ', 100)
        print('water: ', 100)
        print('butter: ', 50)
        
# 클래스 선언 후 객체를 생성     
if __name__ == '__main__':
    cream = Cream()
    sugar = Sugar()
    butter = Butter()
    
    # BreadType 객체의 리스트를 순환하며 출력
    list = ['cream.recipe()','sugar.recipe()','butter.recipe()']        
    [eval(i) for i in list]

breadType:  cream
recipe
flour:  100
water:  100
cream:  200
breadType:  sugar
recipe
flour:  100
water:  50
sugar:  200
breadType:  butter
recipe
flour:  100
water:  100
butter:  50

###  2. 체이닝메소드 이용, add, substract 함수 구현(calculator)

In [2]:

class Calculator():
   
    
    def __init__(self,result):
        self.result = result
       
    def add(self,value):
        self.result += value
        return self
     
    def subtract(self,value):
        self.result -= value
        return self
        
calculator = Calculator(0)  

print(calculator.add(4).add(5).subtract(3).result)

6

### 3. 재귀함수를 이용하여 Factorial 을 구하는 함수

In [8]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### 4. Factorial 함수에서 Stack Overflow  해결

In [4]:

# stack 재사용으로 overflow 방지하는 꼬리재귀 함수 사용 또는 while 루프
def factorial(number, accumulator=1):
    if number == 0:        
        return accumulator
    else:       
        return factorial(number - 1, number * accumulator)
print(factorial(1000))


# 또는 math  모듈 (팩토리얼값 구하는 함수 제공)
from math import factorial
print(factorial(1000))

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### 5. 디지털 연못 물 깊이의 총합

In [263]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/pond.txt', sep=' ', header=None)

data = df.values.tolist()

dx=[-1,0,1,0]
dy=[0,1,0,-1]
n= df.index.size # data 행과 열값이 같으므로.. index값으로 길이를 구한다.

# 위아래 좌우가 1일경우,
for i in range(1, n):
    for j in range(1, n):
        # i+dx[k] : 행 / j+dy[k] : 열
        if all(data[i][j] >0 and data[i+dx[k]][j+dy[k]]>=1 for k in range(4)):
            data[i][j] +=  1
            
# 위아래 좌우가 2일경우,            
for i in range(1, n):
    for j in range(1, n):             
        if all(data[i][j] >0 and data[i+dx[k]][j+dy[k]]>=2 for k in range(4)):
            data[i][j] +=  1
            
# 위아래 좌우가 3일경우,            
for i in range(1, n):
    for j in range(1, n):             
        if all(data[i][j] >0 and data[i+dx[k]][j+dy[k]]>=3 for k in range(4)):
            data[i][j] +=  1            

data
# 데이터프레임으로 변환
df2 = pd.DataFrame(data)
# 행기준으로 합계
df2[10]=df2.sum(axis=1)
df2
# 행기준 합계를 열기준으로 다시 합계
result = df2[10].sum()
print("연못 깊이의 총합은 : ", result)

연못 깊이의 총합은 :  68

In [264]:
data

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 2, 1, 0, 0, 0, 0],
 [0, 1, 1, 2, 3, 2, 1, 0, 0, 0],
 [0, 1, 2, 3, 4, 3, 2, 1, 1, 0],
 [0, 1, 2, 3, 4, 3, 3, 2, 1, 0],
 [0, 0, 1, 2, 3, 2, 2, 1, 0, 0],
 [0, 0, 0, 1, 2, 1, 1, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [265]:
df2

   0   1   2   3   4   5   6   7   8   9   10
0   0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   1   0   0   0   0   0   1
2   0   0   0   1   2   1   0   0   0   0   4
3   0   1   1   2   3   2   1   0   0   0  10
4   0   1   2   3   4   3   2   1   1   0  17
5   0   1   2   3   4   3   3   2   1   0  19
6   0   0   1   2   3   2   2   1   0   0  11
7   0   0   0   1   2   1   1   0   0   0   5
8   0   0   0   0   1   0   0   0   0   0   1
9   0   0   0   0   0   0   0   0   0   0   0